<div class="about-skills-wrapper container">
  <div class="swiper-about">
    <ul class="skills-list swiper-wrapper">
      <li class="skills-item swiper-slide active">
        <div class="skills-circle active"></div>
        <span class="skills-text">HTML</span>
      </li>
      <li class="skills-item swiper-slide">
        <div class="skills-circle"></div>
        <span class="skills-text">JavaScript</span>
      </li>
      <li class="skills-item swiper-slide">
        <div class="skills-circle"></div>
        <span class="skills-text">React</span>
      </li>
      <li class="skills-item swiper-slide">
        <div class="skills-circle"></div>
        <span class="skills-text">Node.js</span>
      </li>
      <li class="skills-item swiper-slide">
        <div class="skills-circle"></div>
        <span class="skills-text">Soft Skills</span>
      </li>
      <li class="skills-item swiper-slide active">
        <div class="skills-circle active"></div>
        <span class="skills-text">HTML</span>
      </li>
      <li class="skills-item swiper-slide">
        <div class="skills-circle"></div>
        <span class="skills-text">JavaScript</span>
      </li>
      <li class="skills-item swiper-slide">
        <div class="skills-circle"></div>
        <span class="skills-text">React</span>
      </li>
      <li class="skills-item swiper-slide">
        <div class="skills-circle"></div>
        <span class="skills-text">Node.js</span>
      </li>
      <li class="skills-item swiper-slide">
        <div class="skills-circle"></div>
        <span class="skills-text">Soft Skills</span>
      </li>
    </ul>

    <div class="about-swiper-button-next"></div>
  </div>
</div>
